@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: black;
  color: #fff;
}
.head-section-main
{
  background-color: black;
  color: white;
}

.container
{
  max-width: 1200px;
  margin: auto;
  padding: 0 3%;
}
@media screen and (max-width: 400px) 
{
  .container
  {
    max-width: 1200px;
    margin: auto;
    padding: 0 5%;
  } 
}
.header
{
    background: linear-gradient(
      0deg,  
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.8)
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/IN-en-20240909-TRIFECTA-perspective_b22117e0-4610-4d57-a695-20f77d241a4a_small.jpg);
    /* background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/IN-en-20240909-TRIFECTA-perspective_b22117e0-4610-4d57-a695-20f77d241a4a_small.jpg); */
    background-size:cover;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* border-bottom: 5px solid rgb(133, 41, 72) */
}
.navbar svg
{
  fill: red;
  height: 40px;
}
.navbar
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.logo
{
  margin-right: auto;
}
@media screen and (max-width:500px)
{
  .logo svg
  {
    width: 100px;
    margin-right: auto;
  }
  #header-content-1
  {
    font-size: 41px;
  }
  .header-input-box
  {
    margin: 0 3%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 200%; */
  }
  #form-email-input, #header-form-btn
  {
    position: relative;
    min-width: 100%;
  }
}

.select-box
{
  position: relative;
}
.select-box svg
{
  color: white;
  position: absolute;
  height: 20px;
  top: 5px;
  left: 5px;
}
.language-box
{
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 6px 15px 6px 25px;
  border-radius: 3px;
  cursor: pointer;
}
.language-box:focus
{
  outline: 1px solid white;
  /* outline-width: 1px; */
  outline-offset: 1px;
}
.language-box .language-box-option
{
  color: black;
}
.sign-btn
{
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  background-color: red;
  color: #fff;
  padding: 8px 18px;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
}
.sign-btn:hover
{
  opacity: 0.80;
  /* transition: 3s; */
}

/* header-content */
.section-2-main
{
  margin-top: 20px;
  position:relative;
  /* z-index: 1; */
  height: 80vh;
  /* border: 1px solid yellow; */
  padding: 0 1%;
}
.header-content-box
{
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* border: 1px solid white; */
}
.header-1
{
  flex-grow: 1;
  max-width: 550px;
  font-size: 55px;
  text-align: center;
}
 @media screen and (max-width: 600px) and (min-width: 501px)
{

    #header-content-1
  {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
  }
  .header-input-box
  {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 200%; */
  }
  #form-email-input, #header-form-btn
  {
    position: relative;
     min-width: 100%;
  }
} 

.header-2
{
  padding: 0 3%;
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  /* border: 1px solid white; */
}
.header-3
{
  max-width: 570px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  /* border: 1px solid white; */
}
.header-input-box
{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}
.header-input-box input
{
  font-size: 20px;
  width: 36%;
  height: 65px;
  padding: 0 10px;
  border-radius: 5px;
  color: white;
  /* background-color: transparent; */
  background: rgba(46, 45, 45, 0.8);
  /* backdrop-filter: blur(10px); */
  border: 1px solid rgb(139, 137, 137);
}
.header-input-box input:focus
{
  outline: 2px solid white;
  outline-offset: 2px;
  /* outline-width: 2; */
}
.header-input-box input::placeholder
{
  color: rgb(177, 174, 174);
}
.header-input-box button
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 65px;
  width: 200px;
  padding-left: 25px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
}
.header-input-box button:hover
{
  opacity: 0.80;
}
/* end */


/* overlay-section-1 */
.overlay-section-1
{
  padding-top: 1px;
  color: white;
  background-color: black;
}
.trending-select-headng-box h3
{
  font-size: 25px;
  font-weight: 200;
  margin: 10px 0;
}
.trending-selected-box
{
  display: flex;
  gap: 15px;
}
.trending-selected-box
{
  margin-bottom: 10px;
}
.trending-selected-box select
{
  font-size: 20px;
  width: 120px;
  height: 40px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
}
@media screen and (max-width:959px)
{
  .trending-selected-box
  {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .trending-selected-box select
  {
    width: 100%;
  }
}
.trending-selected-box:focus
{
  outline: 1px solid white;
  outline-width: 3px;
}
.trending-selected-box option
{
  font-size: 18px;
  color: black;
  padding: 10px;
}
.border-box
{
  border: 1px solid gray;
  padding: 0 10px;
  border-radius: 5px;
}
.border-box:focus-within
{
  outline-offset: 1px;
  outline: 2px solid white;
}


/* .wrapper img slider */
.content-card-box
{
   /* border: 1px solid white; */

  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  background-color: black;
}
.wrapper
{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
  /* border: 1px solid white; */
  /* overflow-y: hidden; */
}
#left:hover,
#right:hover
{
  background-color: rgb(76, 75, 75);
}
#left
{
  width: 30px;
  background-color: rgb(46, 44, 44);
  height: 100px;
  border: none;
  border-radius: 15px;
}
#right
{
  width: 30px;
  background-color: rgb(46, 44, 44);
  height: 100px;
  border: none;
  border-radius: 15px;
}
@media screen and (max-width:500px)
{
  #left
  {
    width: 100px;
  }
  #right  
  {
    width: 100px;
  }
}
@media screen and (max-width:700px)
{
  #left
  {
    width: 80px;
  }
  #right  
  {
    width: 80px;
  }
}
.carousel
{
  /* border: 1px solid white; */
  display: flex;
  /* /* align-items: center; */
  /* justify-content: center; */
  height: 300px;
  width: 1100px;
  /* overflow-y: hidden; */
  overflow-x: scroll;
  gap: 40px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 13px 20px 12px;
}
.carousel li
{
   /* border: 1px solid white; */

  position: relative;
  list-style-type: none;
}
.card-img img
{
  /* border: 1px solid white; */
  border-radius: 10px;
  width: 180px;
  height: 275px;
  /* overflow: hidden; */
}
@media screen and (max-width:1200px)
{
  
  .card-img img
  {
    width: 150px;
    height: 200px;
  }
  .carousel
  {
    /* border: 1px solid white; */
    height: 230px;
  }  
  span
  {
    bottom: 0;
    left:-20px;
  }
}
@media screen and (max-width:959px)
{
  .card-img img
  {
    width: 100px;
    height: 150px;
  }
  .carousel
  {
    gap: 25px;
    /* border: 1px solid white; */
    height: 180px;
  }  
  span
  {
    top: 50px;
    left:-20px;
  } 
}

.card-img:hover
{
  transition:0.50s;
  transform: scale(1.05);
}
span
{
  /* border: 1px solid white; */
  text-stroke: 1px #fff; /* text border (Chrome, Safari) */
  -webkit-text-stroke: 1px #fff; /* text border (Chrome, Safari) */
  font-weight: bold;
  right: 145px;
  bottom: 0;
  color: black;
  font-size: 100px;
  position: absolute;
  /* margin-bottom: 0; */
}
/* end */


.Q-A-main-container
{
  background-color: black;
  color: white;
}
.content-card-header
{
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.content-card-header h2
{
  font-size: 25px;
}
.content-card
{
  flex-wrap:wrap;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 20px;
}
.content-item
{
  position: relative;
  background:linear-gradient(#1A1E3E,#1F1221);
  padding: 2%;
  width: 260px;
  height: 300px;
  text-align: left;
  border-radius: 10px;
  /* border: 1px solid white; */
}
@media screen and (max-width:1200px)
{
  .content-item
  {
    position: relative;
    background:linear-gradient(#1A1E3E,#1F1221);
    /* padding: 1%; */
    /* width: 500px; */
    width: 45%;
    height: 210px;
    text-align: left;
    border-radius: 10px;
    /* border: 1px solid white; */
  }
}
@media screen and (max-width:959px)
{
  .content-item
  {
    height: 170px;
    width: 100%;
  }
}
.content-item h5
{
  font-size: 23px;
  font-weight: 200;
  margin-bottom: 15px;
}
.content-item p
{
  font-size: 16px;
  color: rgb(196, 191, 191);
  text-align: left;
}
.content-item svg
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* end */



.FAQ-container
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.FAQ-heading
{
  margin-top: 60px;
  text-align: left;
  margin-bottom: 20px;
}
.question
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 23px 40px;
  font-size: 30px;
  background-color: #303030;
  border: 1px solid #303030;
  color: white;
}
@media screen and (max-width:959px)
{
  .question
  {
    text-align: left;
    font-size: 20px;
  }
  .FAQ-heading
  {
    font-size: 20px;
  }
}
.question:hover
{
  background-color: #424141;
}
.answer
{
  width: 100%;
  background-color: #303030;
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-bottom: 7px;
}
.answer > p
{
  font-size: 20px;
  margin: 1rem;
  padding: 0x 40px;
}
/* end */


.membership-input-box-container
{
  margin-bottom: 40px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.membership-input-box-container p
{
  font-size: 18px;
}
.search-box
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}
.search-box input
{
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 5px;
  background: transparent;
  height: 60px;
  width: 80%;
  /* width: 5080%; */
  padding: 0 10px;
  color: white;
}
.search-box input:focus
{
  outline: 2px solid white;
  outline-offset: 2px;
  /* outline-width: 20px; */
}
.search-box button
{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
}
.search-box button:hover
{
  opacity: 0.80;
}

/* end */


.footer-main
{
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 30px;
  margin-left: 10%;
}
.footer-box-1 a
{
  color: rgb(153, 151, 151);
}
.footer-box-2
{
  text-align: left;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  column-gap: 100px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.footer-box-2 li
{
  list-style-type: none;
}
.footer-box-2 a
{
  font-size: 18px;
  color: rgb(153, 151, 151);
  text-decoration: none;
  line-height: 30px;
}
.footer-box-2 a:hover
{
  text-decoration: underline;
}